:root
{
    --bg-color: #0c2461;
    --subfondo: #0c2461;
    --fondo: #0c2461;
    --secundario: #883399;
    --azul: #1e3799;
    --font: #82ccdd;
    --font2: #f9fafb;
    --rojo: #de1c47;
    --verde: #15a95b;
    --theme-bg-color: rgba(16 18 27 / 22%);
    --delay: 0s;
}