:root
{
    --bg-color: #220088;
    --subfondo: #1100334a;
    --fondo: #110033;
    --secundario: #883399;
    --azul: #2200ee;
    --font: rgb(113 119 144 / 78%);
    --font2: #f9fafb;
    --rojo: #de1c47;
    --verde: #15a95b;
    --theme-bg-color: rgba(16 18 27 / 22%);
    --delay: 0s;
}